/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_dark {
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --background-color: hsl(240, 100%, 8%);
  --buttons-color: #ff0070;
  --buttons-hover-color: rgba(255, 0, 112, 0.4);
  --title-shadow-color: #ff0070;
  --text-color: #f1b2ce;
  --decoration-color: #ff0070;
  --desc-text-color: #ff0070;
  --subtitle-color: #ff0070;
  --title-color: #db00ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url(../images/cover-image-dark.png);
    --accent-color: #ff0070;
    --background-color: hsl(240, 100%, 8%);
    --buttons-color: #ff0070;
    --buttons-hover-color: rgba(255, 0, 112, 0.4);
    --title-shadow-color: #ff0070;
    --text-color: #f1b2ce;
    --decoration-color: #ff0070;
    --desc-text-color: #ff0070;
    --subtitle-color: #ff0070;
    --title-color: #db00ff;
  }
  .page .theme_dark {
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
    object-position: center;
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--buttons-color, #ff0070);
  }

  button:hover {
    border: 1px solid var(--buttons-hover-color, #ff0070);
  }
  button:focus {
    border: 1px solid var(--buttons-color);
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
  .link {
    all: unset;
    text-shadow: 1px 1px 0 var(--accent-color);
    cursor: pointer;
  }

  .link:hover {
    cursor: pointer;
    border-block-end: var(--text-color) 1px solid;
  }

  .link:focus {
    border: 1px var(--buttons-color) solid;
  }
}

@media (prefers-color-scheme: dark) and (width >=1024px) {
  .circle {
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: var(--decoration-color);
    box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);
    border-radius: 50%;
    right: 28px;
    top: 29px;
  }

  .circle::before {
    content: "REC";
    position: absolute;
    right: 20px;
  }
}

@media (prefers-color-scheme: dark) and (width <=1024px) {
  .circle {
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: var(--decoration-color);
    box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);
    border-radius: 50%;
    right: 28px;
    top: 29px;
  }

  .circle::before {
    content: "REC";
    position: absolute;
    right: 20px;
  }
}

@media (prefers-color-scheme: dark) and (width <=768px) {
  .circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--decoration-color);
    box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);
    border-radius: 50%;
    top: 28px;
    right: 27px;
  }

  .circle::before {
    content: "REC";
    position: absolute;
    right: 23px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
    margin-right: 20px;
    margin-top: 195px;
  }

  .header__title {
    margin-inline-end: 10%;
    margin-block-start: 15px;
    margin-bottom: 0;
    text-shadow: 4px 4px 0 var(--accent-color);
  }
  .header__subtitle {
    width: 47vw;
    height: 11vh;
    margin-inline-start: 50%;
    margin-inline-end: 5px;
    margin-block-end: 56px;
  }
}

@media (prefers-color-scheme: dark) and (width <=375px) {
  .circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--decoration-color);
    box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);
    border-radius: 50%;
    top: 18px;
    right: 19px;
  }

  .circle::before {
    content: "REC";
    position: absolute;
    right: 23px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
    margin-right: 15px;
    margin-top: 77px;
  }

  .header__subtitle {
    width: 95vw;
    margin-left: 7px;
    margin-right: 5px;
    align-self: center;
  }

  .header__title {
    margin-inline-end: 10%;
    margin-block-start: 15px;
    margin-bottom: 100px;
    text-shadow: 4px 4px 0 var(--accent-color);
  }
}

.page .theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-color: var(--background-color, hsl(240, 100%, 8%));
  color: var(--text-color, #353430);
  font-family: var(--main-font, sans-serif);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: center;

  :root .theme_dark {
    --background-image: url(../images/cover-image-dark.png);
    --accent-color: #ff0070;
    --background-color: hsl(240, 100%, 8%);
    --buttons-color: #ff0070;
    --buttons-hover-color: rgba(255, 0, 112, 0.4);
    --title-shadow-color: #ff0070;
    --text-color: #f1b2ce;
    --decoration-color: #ff0070;
    --desc-text-color: #ff0070;
    --subtitle-color: #ff0070;
    --title-color: #db00ff;
  }
  .circle {
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: var(--decoration-color);
    box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);
    border-radius: 50%;
    right: 28px;
    top: 29px;
  }

  .circle::before {
    content: "REC";
    position: absolute;
    right: 20px;
  }
}
