/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --background-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --background-color: ##fff1f7;
  --buttons-color: #353430;
  --buttons-hover-color: rgba(50, 49, 45, 0.4);
  --title-shadow-color: #ff0070;
  --text-color: #353430;
  --decoration-color: #353430;
  --desc-text-color: #353430;
  --subtitle-color: #353430;
  --title-color: #ffc2e6;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --background-color: #fff1f7;
    --buttons-color: #353430;
    --buttons-hover-color: rgba(50, 49, 45, 0.4);
    --title-shadow-color: #ff0070;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --decoration-color: #353430;
    --desc-text-color: #353430;
    --subtitle-color: #353430;
  }

  .header__theme-menu-button_active {
    border: 1px solid black;
  }

  button:hover {
    border: 1px solid var(--buttons-hover-color);
  }

  button:focus {
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  .link {
    all: unset;
    text-shadow: 1px 1px 0 var(--accent-color);
    cursor: pointer;
  }

  .link:hover {
    cursor: pointer;
    border-block-end: black 1px solid;
  }

  .link:focus {
    border: 1px black solid;
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  :root {
    --background-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --background-color: #fff1f7;
    --buttons-color: #353430;
    --buttons-hover-color: rgba(50, 49, 45, 0.4);
    --title-shadow-color: #ff0070;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --decoration-color: #353430;
    --desc-text-color: #353430;
    --subtitle-color: #353430;
  }

  .header__theme-menu-button_active {
    border: 1px solid black;
  }

  button:hover {
    border: 1px solid var(--buttons-hover-color);
  }

  button:focus {
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  .link {
    all: unset;
    text-shadow: 1px 1px 0 var(--accent-color);
    cursor: pointer;
  }

  .link:hover {
    cursor: pointer;
    border-block-end: black 1px solid;
  }

  .link:focus {
    border: 1px black solid;
  }
}
