/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color, #ffc2e6);
  color: var(--text-color, #353430);
  font-family: var(--main-font, sans-serif);
  background-attachment: fixed;
  background-size: cover;
  background-image: var(--background-image);
  background-position: center;
  object-fit: cover;
  object-position: center;

  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  position: relative;
  object-fit: cover;
  grid-template-rows: 1fr, 1fr, 1fr;
  margin-block-end: 60px;
  min-height: 100vh;
}

.heading {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.header__theme-menu-list {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.header__theme-menu-button {
  all: unset;
  text-transform: lowercase;
  font-family: var(--font-family);
  font-size: var(--font-size);
  cursor: pointer;
  padding-left: 13px;
  padding-right: 13px;
  border: none;
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid var(--desc-text-color);
  z-index: 1;
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: none;
  border-bottom: none;
  right: 20px;
  top: 21px;
}

.header::after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid var(--desc-text-color);
  z-index: 2;
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: none;
  border-top: none;
  bottom: 20px;
  left: 20px;
}

.header__title {
  margin-inline-end: 12%;
  margin-inline-start: 0;
  margin-block-start: 24%;
  font-family: var(--font-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.header__subtitle {
  font-size: 18px;
  background-color: var(--accent-color);
  margin-inline-end: 2.5%;
  margin-inline-start: 50%;
  margin-block-start: 7.5%;
  margin-block-end: 13%;
  overflow-wrap: anywhere;
  padding: 0;
}

.section {
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  margin-block-end: 80px;
}

.two_columns {
  display: grid;
  grid-template-columns: 29.5% auto;
  column-gap: 45px;
}

.title-decor {
  background-color: var(--accent-color);
}

.paragraph {
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  margin-block-start: 10px;
  margin-block-end: 20px;
}

.second_paragraph {
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  margin-block-start: 10px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.density {
  margin-inline-end: 70%;
  margin-block-end: 20px;
}

.recommendations {
  display: grid;
  grid-template-columns: 32.4% auto;
  column-gap: 17px;
}

.subtitle_rec {
  margin-block-end: 20px;
  background-color: var(--accent-color);
}

.option {
  background-color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-block-start: 20px;
  gap: 20px;
}

.pictures img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.pictures img:nth-of-type(1) {
  grid-column: 1 / span 2;
}

.pictures img:nth-of-type(2) {
  grid-row: span 2;
}

.pictures img:nth-of-type(3) {
  grid-row: 2 / span 2;
}

.pictures img:nth-of-type(4) {
  grid-column: 2;
  grid-row: 2;
}

.pictures img:nth-of-type(5) {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.footer::before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid var(--desc-text-color);
  z-index: 1;
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: none;
  border-bottom: none;
  right: 22px;
  top: 1px;
}

.footer::after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid var(--desc-text-color);
  z-index: 2;
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: none;
  border-top: none;
  left: 20px;
  bottom: 33px;
}

.footer_title {
  font-family: var(--main-font);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  margin-block-end: 5%;
}

@media (width <= 768px) {
  .header {
    min-height: 100dvh;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
    margin-right: 20px;
    margin-block-start: 25%;
  }

  .header__title {
    margin-inline-end: 10%;
    margin-block-start: 20%;
    margin-bottom: 0;
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .header__subtitle {
    min-height: 117px;
    margin-block-start: 17%;
    margin-block-end: 24%;
  }

  .section {
    margin-block-end: 69px;
  }

  .columns {
    display: inline-block;
  }

  .second_paragraph {
    margin-block-end: 2.5%;
  }

  .footer {
    min-height: 100dvh;
  }

  .footer::before {
    right: 20px;
    top: 10px;
  }

  .footer::after {
    left: 22px;
    bottom: 25px;
  }

  .footer_title {
    text-shadow: 4px 4px 0 var(--accent-color);
    margin-block-start: 55%;
    margin-block-end: 57%;
  }
}

@media (width <= 375px) and (orientation: portrait) {
  .header {
    margin-block-end: 15px;
  }

  .header__theme-menu-list {
    margin-right: 11px;
    margin-block-start: 20%;
  }

  .header::before {
    right: 8px;
    top: 8px;
  }

  .header::after {
    bottom: 39px;
    left: 16px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
    margin-inline-start: 3%;
  }

  .header__subtitle {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 14%;
  }

  .section {
    display: inline-block;
    margin-inline-start: 3%;
    margin-inline-end: 3%;
    margin-block-end: 40px;
  }

  .two_columns {
    margin-block-start: 0;
  }

  .second_column {
    margin-block-start: 20px;
  }

  .density {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  .third_column {
    margin-block-start: 20px;
  }

  .recommendations {
    margin-block-start: 0;
    margin-inline-start: 3%;
    margin-inline-end: 3%;
  }

  .image {
    margin-block-start: 0;
  }

  .pictures {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer::before {
    right: 10px;
    top: 15px;
  }

  .footer::after {
    bottom: 10px;
    left: 10px;
  }

  .footer_title {
    font-family: var(--main-font);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-block-start: 20%;
    margin-block-end: 22%;
  }
}
